---
import { proyects } from "../data/proyects";
---

<section
    id="proyects"
    class="antialiased flex flex-col pb-96 perspective-midrange transform-3d"
>
    <div class="parallax-container flex flex-row space-x-10 mb-20">
        <div class="horiz-gallery-wrapper">
            <div class="horiz-gallery-strip gap-9 pt-20">
                {
                    proyects.map((p: any) => (
                        <div
                            class={`product-card ${p.type === "mobile" ? "w-36" : "w-[26vw]"} hover:scale-105 duration-300 rounded ease-in-out h-[21vw] box-content shrink-0 group`}
                            data-product-title={p.title}
                        >
                            <a
                                href={p.link}
                                class="block group-hover:shadow-2xl h-full rounded"
                            >
                                <img
                                    src={p.thumbnail}
                                    alt={p.title}
                                    class="object-cover object-center rounded inset-0 h-full w-full"
                                />
                            </a>
                            <div class="absolute inset-0 h-full w-full opacity-0 rounded group-hover:opacity-80 bg-black pointer-events-none" />
                            <h2 class="absolute bottom-4 left-4 opacity-0 rounded group-hover:opacity-100 text-white">
                                {p.title}
                            </h2>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</section>

<style is:global>
    .product-card {
        transform: translateX(var(--x, 0px)) translateY(var(--y, 0px));
        will-change: transform;
    }

    .horiz-gallery-strip,
    .horiz-gallery-wrapper {
        display: flex;
        flex-wrap: wrap;
        will-change: transform;
        position: relative;
        justify-content: center;
    }
</style>

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";
    import ScrollSmoother from "gsap/ScrollSmoother";

    gsap.registerPlugin(ScrollTrigger, ScrollSmoother);
    ScrollSmoother.create({
        wrapper: "#smooth-wrapper",
        content: "#smooth-content",
        smooth: 2,
        normalizeScroll: true,
        // ignoreMobileResize: true,
    });
    if (document.getElementById("proyects")) {
        window.addEventListener("load", () => {
            const section = document.getElementById("proyects");
            if (!section) return;
            const container = document.querySelector(".parallax-container");
            // --- Valores iniciales (progreso 0) ---
            gsap.set(container, {
                rotateX: 30,
                rotateZ: 20,
                y: -550,
                opacity: 0.1,
            });
            gsap.to(container, {
                scrollTrigger: {
                    trigger: section,
                    start: "top center",
                    end: "top top",
                    scrub: true,
                    // pin: true,
                    // anticipatePin: 1,
                    // markers: true,
                },
                rotateX: 0,
                rotateZ: 0,
                y: 270,
                opacity: 1,
                ease: "none",
            });
        });

        //Horizontal Scroll Galleries
        const horizontalSections: any = gsap.utils.toArray(
            ".horiz-gallery-wrapper",
        );
        horizontalSections.forEach(function (sec: any, i: number) {
            const pinWrap = sec.querySelector(".horiz-gallery-strip");
            let pinWrapWidth: any;

            function refresh() {
                pinWrapWidth = pinWrap.scrollWidth;
            }
            refresh();
            // Pinning and horizontal scrolling
            gsap.to(pinWrap, {
                scrollTrigger: {
                    scrub: true,
                    trigger: sec,
                    pin: sec,
                    start: `top top-=${window.innerHeight * 0.25}`,
                    end: () => `+=${pinWrapWidth + 100}`,
                    invalidateOnRefresh: true,
                    // markers: true,
                },
                x: 800,
                opacity: -0.5,
                ease: "none",
            });
            ScrollTrigger.addEventListener("refreshInit", refresh);
        });
    }
</script>
