---
import ExcalidrawViewer from "./ExcalidrawViewer"
// import WhatIUseBtwFile from "p/btw.excalidraw"
---

<section id="what I use btw" class="mt-20pt-16">  
  <h1 class="text-5xl font-bold mb-10">What I use btw</h1>
  <!-- <ul class="flex items-center justify-evenly">
  {['linux', 'terminal', 'webdev', 'servers'].map((l) => (
  <li>
  <a href={`/${l}`} class="link link-accent text-4xl capitalize">{l}</a>
  </li>
  ))}
  </ul> -->
  <div class="text-cente h-[500px] mt-32">
    <ExcalidrawViewer
      client:only
    />
  </div>
  <!-- {resources &&
  resources.map((r) => (
  <div class="card image-full w-96 bg-base-100 text-neutral shadow-xl">
  <figure>
  <Image
  src={r.preview}
  class="object-fit object-center"
  width={384}
  height={208}
  alt=""
  /> 
  image
  </figure>
  <div class="card-body">
  <h2 class="card-title text-2xl font-bold">{r.name}</h2>
  <p class="font-mono tracking-tighter">{r.description}</p>
  <div class="card-actions justify-end">
  <a href={r.url} target="_blank" class="btn btn-primary px-3">
  <ArrowTopRightOnSquareIcon class="h-5 w-5" /> 
  </a>
  </div>
  </div>
  </div>
  ))} -->
</section>