---
import { type Route, routes } from "@/data/routes";
---

<div class="drawer-side Z-100">
    <label for="menu-drawer" aria-label="close sidebar" class="drawer-overlay"
    ></label>
    <ul
        class="menu md:menu-lg lg:menu-xl bg-base-200 rounded-box m-2 min-h-[98dvh] shadow-2xl w-52 md:w-60 lg:w-80 p-4"
    >
        {
            routes.map((l: Route) =>
                l.href ? (
                    <li>
                        <a href={l.href}>{l.name}</a>
                    </li>
                ) : (
                    <div class="collapse collapse-arrow">
                        <div class="collapse-title font-semibold">{l.name}</div>
                        <div class="collapse-content text-sm">
                            <ul class="menu md:menu-lg lg:menu-xl bg-base-200 rounded-box m-2 min-h-[98dvh] shadow-2xl  w-52 md:w-60 lg:w-80 p-4">
                                {l.submenu
                                    ? l.submenu.map((s: Route) => (
                                          <li>
                                              <a href={s.href}>{s.name}</a>
                                          </li>
                                      ))
                                    : ""}
                            </ul>
                        </div>
                    </div>
                ),
            )
        }
    </ul>
</div>
